@typeparam TUser where TUser : class

@inject IBlazorUserManager<TUser> UserManager
@inject NavigationManager NavManager

<div class="row">
	<div class="col md-6">
		<p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
		<p>
			<strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
		</p>
		<p>
			<button class="btn btn-primary" onclick="@(() => NavManager.NavigateTo("/Account/DownloadPersonalData"))">Download</button>
		</p>
		<p>
			<button class="btn btn-danger" onclick="@(() => NavManager.NavigateTo("/Account/DeletePersonalData"))">Delete</button>
		</p>
	</div>

</div>

@code {

}
