<nav class="navbar navbar-expand navbar-light bg-light mb-4">
    <div class="container-fluid">
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <NavLink class="nav-link" href="account/manage">Profile</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="account/email">Email</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="account/password">Change password</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="account/personaldata">Personal data</NavLink>
        </li>
    </ul>
    </div>
</nav>

@code {

}
