@page "/account/downloadpersonaldata"

@using BlazorIdentity.ServerApp.Data

<PageTitle>Download Your Data</PageTitle>

<h3>Download Your Data</h3>

<BlazorIdentity.UI.Manage.DownloadPersonalData TUser="AppUser" />

@code {

}
