@page "/Account/Manage"

@using BlazorIdentity.ServerApp.Data

<PageTitle>Profile</PageTitle>

<h1>Profile</h1>

@if (!string.IsNullOrEmpty(alertMessage))
{
    <BSAlert @ref="alert" Color="BSColor.Success" IsDismissible="true">
        @alertMessage
    </BSAlert>
}

<BlazorIdentity.UI.Profile TUser="AppUser" OnProfileSaved="HandleProfileSaved" />

@code {
    private BSAlert? alert;
    private string? alertMessage;

    private void HandleProfileSaved()
    {
        alertMessage = "Profile was successfully updated";
        alert?.Open();
    }
}
