@page "/Account/Password"

@using BlazorIdentity.ServerApp.Data

<PageTitle>Change password</PageTitle>
<h1>Change password</h1>

@if (!string.IsNullOrEmpty(alertMessage))
{
    <BSAlert @ref="alert" Color="BSColor.Success" IsDismissible="true">
        @alertMessage
    </BSAlert>
}

<BlazorIdentity.UI.ChangePassword TUser="AppUser" OnPasswordChanged="HandlePasswordChanged" />

@code {
    private BSAlert? alert;
    private string? alertMessage;

    private void HandlePasswordChanged()
    {
        alertMessage = "Password was successfully updated";
        alert?.Open();
    }
}
