@page "/Account/PersonalData"

@using BlazorIdentity.ServerApp.Data

@inject NavigationManager NavManager

<PageTitle>Personal data</PageTitle>

<h1>Personal Data</h1>

<BlazorIdentity.UI.Manage.PersonalData TUser="AppUser" OnDeletPersonalData="HandleDeletePersonalData" OnDownloadPersonalData="HandleDownloadPersonalData" />

@code {

    private void HandleDeletePersonalData()
    {
        NavManager.NavigateTo("/Account/DeletePersonalData");
    }

    private void HandleDownloadPersonalData()
    {
        NavManager.NavigateTo("/Account/DownloadPersonalData");
    }
}
