<AuthorizeView>
    <Authorized>
        <a href="Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <a href="Account/Logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="Account/Register">Register</a>
        <a href="Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
