@page "/Account/ConfirmEmailChange/{userId}/{email}/{code}"

@using BlazorIdentity.ServerApp.Data

@inject NavigationManager NavManager

<PageTitle>Confirm email change</PageTitle>

<h1>Confirm email change</h1>

@if (!string.IsNullOrEmpty(alertMessage))
{
    <BSAlert @ref="@alert" Color="BSColor.Success" IsDismissible="true">
        @alertMessage
    </BSAlert>
}

<BlazorIdentity.UI.ConfirmEmailChange OnShowMessage="HandleMessage" TUser="AppUser" UserId="@UserId" Email="@Email" Code="@Code" />

@code {
	[Parameter]
	public string UserId { get; set; } = string.Empty;
	[Parameter]
	public string Email { get; set; } = string.Empty;
	[Parameter]
	public string Code { get; set; } = string.Empty;

    private BSAlert? alert;
    private string? alertMessage;

	protected override void OnInitialized()
	{
		if (string.IsNullOrEmpty(UserId) || string.IsNullOrEmpty(Email) || string.IsNullOrEmpty(Code))
		{
			NavManager.NavigateTo("/");	
		}
	}

    private void HandleMessage(string message)
    {
        alertMessage = message;
        alert?.Open();
    }
}
