@page "/Account/ForgotPassword"

@using BlazorIdentity.Server;
@using BlazorIdentity.ServerApp.Data

<PageTitle>Recover Password</PageTitle>

<h1>Recover Password</h1>

<BlazorIdentity.UI.ForgotPassword TUser="AppUser" />

@code {

	protected override void OnInitialized()
	{

	}

}
