@page "/Account/ForgotPassword"

@using BlazorIdentity.Server;
@using BlazorIdentity.ServerApp.Data

@inject NavigationManager NavManager

<PageTitle>Recover Password</PageTitle>

<h1>Recover password</h1>

<BlazorIdentity.UI.ForgotPassword TUser="AppUser" OnForgotPasswordConfirmation="HandleForgotPasswordConfirmation" />

@code {

    private void HandleForgotPasswordConfirmation()
    {
        // handle the event and navigate to forgot password confirmation page
        NavManager.NavigateTo("/Account/ForgotPasswordConfirmation");
    }

    private void HandleForgotPasswordError(bool isValidUser)
    {
        if (isValidUser)
        {
            // TODO: account has not been verified but sign-in options set in program.cs requires confirmed accounts.
        }
        else
        {
            // TODO: user entered an email address not on file

        }
    }
}
