@page "/Account/ForgotPasswordConfirmation"

@using BlazorIdentity.Server;
@using BlazorIdentity.ServerApp.Data

<PageTitle>Forgot password confirmation</PageTitle>

<h1>Forgot password confirmation</h1>

<BlazorIdentity.UI.ForgotPasswordConfirmation TUser="AppUser" />

@code {

}
