@page "/Account/Login"

@using BlazorIdentity.Server;
@using BlazorIdentity.ServerApp.Data
@using Microsoft.AspNetCore.WebUtilities

@inject NavigationManager NavManager

<PageTitle>Log in</PageTitle>

<h1>Log in</h1>

<BlazorIdentity.UI.Login TUser="AppUser" OnLogin="HandleLogin" ReturnUrl="@ReturnUrl" />

@code {
    public string ReturnUrl { get; set; } = default!;

    protected override void OnInitialized()
    {
        NavManager.TryGetQueryString<string>("ReturnUrl", out var returnUrl);
        ReturnUrl = !string.IsNullOrEmpty(returnUrl) ? returnUrl : "/";
    }

    private void HandleLogin()
    {
        NavManager.NavigateTo(ReturnUrl);
    }
}
