@page "/Account/LoginWith2fa/{RememberMe:bool}/{ReturnUrl}"

@using BlazorIdentity.Server;
@using BlazorIdentity.ServerApp.Data

@inject NavigationManager Navigation

<PageTitle>Two-factor authentication</PageTitle>

<h1>Two-factor authentication</h1>

<BlazorIdentity.UI.LoginWith2fa TUser="AppUser" RememberMe="@RememberMe" ReturnUrl="@ReturnUrl" OnLogin="HandleLogin" />

@code {

	[Parameter]
	public bool RememberMe { get; set; }

	[Parameter]
	public string ReturnUrl { get; set; } = string.Empty;

	private void HandleLogin()
	{
		Navigation.NavigateTo(ReturnUrl);
	}

}
