@page "/Account/LoginWithRecoveryCode"

@using BlazorIdentity.Server;
@using BlazorIdentity.ServerApp.Data

@inject NavigationManager Navigation

<PageTitle>Recovery code verification</PageTitle>

<h1>Recovery code verification</h1>

<BlazorIdentity.UI.LoginWithRecoveryCode TUser="AppUser" OnLogin="HandleLogin" ReturnUrl="@ReturnUrl" />

@code {
	public string ReturnUrl { get; set; } = default!;

    protected override void OnInitialized()
    {
		Navigation.TryGetQueryString<string>("ReturnUrl", out var returnUrl);
        ReturnUrl = !string.IsNullOrEmpty(returnUrl) ? returnUrl : "/";
    }

	private void HandleLogin()
	{
		Navigation.NavigateTo(ReturnUrl);
	}
}
