@page "/Account/Register"

@using BlazorIdentity.ServerApp.Data    

@inject NavigationManager NavManager

<PageTitle>Register</PageTitle>

<h1>Register</h1>

<BlazorIdentity.UI.Register TUser="AppUser" OnRegistered="HandleRegistered" ReturnUrl="@ReturnUrl" />

@code {
    public string ReturnUrl { get; set; } = default!;

    protected override void OnInitialized()
    {
        NavManager.TryGetQueryString<string>("ReturnUrl", out var returnUrl);
        ReturnUrl = !string.IsNullOrEmpty(returnUrl) ? returnUrl : "/";
    }

    private void HandleRegistered(bool requireConfirmedAccount)
    {
        if (requireConfirmedAccount)
        {
            NavManager.NavigateTo($"/Account/RegisterConfirmation?ReturnUrl={ReturnUrl}");
        }
        else
        {
            NavManager.NavigateTo(ReturnUrl);
        }
    }
}