@page "/Account/ResetPassword/{RecoveryCode}"

@using BlazorIdentity.Server;
@using BlazorIdentity.ServerApp.Data
@using Microsoft.AspNetCore.WebUtilities

@inject NavigationManager NavManager

<PageTitle>Reset password</PageTitle>
<h1>Reset your password</h1>

@if (ErrorMessage.Length > 0)
{
	<h3>@ErrorMessage</h3>
}
else
{
	<BlazorIdentity.UI.ResetPassword TUser="AppUser" RecoveryCode="@RecoveryCode" />
}


@code {

	[Parameter]
	public string RecoveryCode { get; set; } = default!;

	public string ErrorMessage { get; set; } = string.Empty;

	protected override void OnInitialized()
	{
		var url = NavManager.Uri;

		if (string.IsNullOrEmpty(RecoveryCode))
		{
			ErrorMessage = "A code must be supplied for password reset.";
			return;
		}
	}
}
