@page "/Account/ResetPasswordConfirmation"

@using BlazorIdentity.ServerApp.Data

<PageTitle>Reset password confirmation</PageTitle>

<h1>Reset password confirmation</h1>

<BlazorIdentity.UI.ResetPasswordConfirmation TUser="AppUser" />

@code {

}
