@page "/Account/ResendEmailConfirmation"

@using BlazorIdentity.ServerApp.Data

<PageTitle>Resend email confirmation</PageTitle>

<h1>Resend email confirmation</h1>

<BlazorIdentity.UI.ResendEmailConfirmation TUser="AppUser" />

@code {

}
