@typeparam TUser where TUser : class

@inject IBlazorSignInManager<TUser> SignInManager

<p>Logging out...</p>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; } = default!;

    [Parameter]
    public EventCallback OnLogout { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var user = (await authenticationStateTask).User;

        if (SignInManager.IsSignedIn(user))
        {
            await SignInManager.SignOutAsync();
        }

        await OnLogout.InvokeAsync();
    }
}
