@typeparam TUser where TUser : class

@inject IBlazorSignInManager<TUser> SignInManager
@inject NavigationManager Navigate

<p>Logging out...</p>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var user = (await authenticationStateTask).User;

        if (SignInManager.IsSignedIn(user))
        {
            await SignInManager.SignOutAsync();
        }

        // TODO: Move this to a component event and let the hosting page decide what to do
        Navigate.NavigateTo("/");
    }
}
