@page "/Identity/Account/Login"

@using BlazorIdentity.Server;
@using BlazorIdentity.ServerApp.Data

<PageTitle>Log in</PageTitle>

<h3>Log in</h3>

<BlazorIdentity.UI.Login TUser="AppUser" />

@code {
    
}
